.iname{
    border: 1px solid gray;
    border-radius: 4px;
    justify-content: space-between;
    margin: 40px;
    display: flex;
    
}
.pname{
    padding: 10px;
    padding-top: 50px;

}
.bimage{

     flex-wrap: wrap;
     display: flex;
    
    
}